*{
    margin: 0;
    padding: 0;
}
.mainBlock{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background: rgb(50,66,92);
}
.logo{
    width: 20%;
}
.navBlock{
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navBlock div{
    width: max-content;
    color: white;
    background:rgb(71,85,109);
}
.navBlock p{
    line-height: 40px;
    padding-left: 30px;
    padding-right: 30px;
}